.home-container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media (max-width: $mobile) {

        flex-direction: column-reverse;

    }

    .intro {

        width: 50rem;

        h1 {

            line-height: 2rem;
            animation: 600ms opacity 1200ms forwards;
            opacity: 0;

            @media (max-width: $tablet) {

                line-height: 3rem;
        
            }

            @media (max-width: $mobile) {

                line-height: 1.8rem;
        
            }

        }

        .subtitle {

            animation: 600ms opacity 600ms forwards;
            opacity: 0;

        }

        .text {

            margin-top: 1rem;
            animation: 1800ms opacity 1800ms forwards;
            opacity: 0;

        }

        @media (max-width: $tablet) {

            width: 30rem;

        }

        h1,
        .subtitle,
        .text {

            @media (max-width: $mobile) {

                width: 100%;
                text-align: center;
    
            }

        }

    }

    .round-pic {
        
        padding-left: 10rem;
        opacity: 0;
        animation: 2000ms blurOut 2400ms forwards;
         
        img {

            width: 40rem;

        }

        @media (max-width: $desktop-small) {

            padding-left: 5rem;

            img {

                width: 30rem;
    
            }

        }

        @media (max-width: $tablet) {

            padding-left: 5rem;

            img {

                width: 30rem;
    
            }

        }

        @media (max-width: $mobile) {

            padding-left: 0rem;

            img {

                width: 20rem;
    
            }

        }

    }

    .social-wrapper {

        position: absolute;
        bottom: 2.5rem;
        right: 2.5rem;
        display: flex;
        flex-direction: row;
        opacity: 0;
        animation: 600ms opacity 3000ms forwards;

        @media (max-width: $mobile) {

            position: unset;
            margin: 2rem 0;

        }

        img {

            width: 3.2rem;
            margin-left: 1.2rem;
            margin-right: 1.2rem;

        }

        a {

            transition: all .2s ease-in-out;

            @media (max-width: $desktop-small) {

                &:hover {

                    transform: scale(1.2);

                }
    
            }

            @media (max-width: $desktop-big) {

                &:hover {

                    transform: scale(1.2);

                }
    
            }

        }

    }

    .arrow-wrapper {

        position: absolute;
        bottom: 2.5rem;
        right: 50%;
        transform: translateX(50%);
        width: 1.6rem;

        img {

            width: 3.2rem;
            opacity: 0;
            animation: 600ms opacity 3000ms forwards;

        }
    }

    .bounce {

        animation: bounce 2s infinite;

    }

    .switch-wrapper {
        
        position: absolute;
        top: 2.5rem;
        left: 2.5rem;
        opacity: 0;
        animation: 600ms opacity 3000ms forwards;

    }

}